In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/Loan_Default.csv")
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [3]:
dff=df.copy()

In [4]:
df.shape

(148670, 34)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [6]:
df.describe()

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148670.000000,148670.0,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,1.335720e+05,139520.000000,148670.000000,133572.000000,148670.000000,124549.000000
mean,99224.500000,2019.0,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,4.978935e+05,6957.338876,699.789103,72.746457,0.246445,37.732932
std,42917.476598,0.0,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,3.599353e+05,6496.586382,115.875857,39.967603,0.430942,10.545435
min,24890.000000,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,62057.250000,2019.0,1.965000e+05,3.625000,0.076000,581.490000,360.000000,2.680000e+05,3720.000000,599.000000,60.474860,0.000000,31.000000
50%,99224.500000,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,136391.750000,2019.0,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,6.280000e+05,8520.000000,800.000000,86.184211,0.000000,45.000000
max,173559.000000,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

DATA CLEANING

Check for duplicates

In [7]:
df.duplicated().sum()

0

In [8]:
df=df.drop_duplicates()

In [9]:
df.shape

(148670, 34)

Check for null values

In [10]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In order to fill the missing values lets first find the relationshup between columns and then choose one of the techniques to fill the misisng values.

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

categorical_cols = ['loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose',
                    'Credit_Worthiness', 'open_credit', 'business_or_commercial',
                    'Neg_ammortization', 'interest_only', 'lump_sum_payment',
                    'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
                    'credit_type', 'co-applicant_credit_type', 'age',
                    'submission_of_application', 'Region', 'Security_Type']


for col in categorical_cols:
    df[col] = le.fit_transform(df[col].astype(str))

In [13]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                       0
Gender                           0
approv_in_adv                    0
loan_type                        0
loan_purpose                     0
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization                0
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [14]:
df["loan_limit"].value_counts()

loan_limit
0    135348
2      9978
1      3344
Name: count, dtype: int64

LOAN_LIMIT

In [15]:
correlations = df.corr()['loan_limit']

print(correlations.sort_values(ascending=False))

loan_limit                   1.000000
loan_amount                  0.266357
property_value               0.190954
income                       0.139970
approv_in_adv                0.080861
Status                       0.053431
rate_of_interest             0.042012
loan_type                    0.041620
Upfront_charges              0.039476
interest_only                0.037760
co-applicant_credit_type     0.037453
lump_sum_payment             0.024148
term                         0.020142
business_or_commercial       0.019057
open_credit                  0.017691
LTV                          0.015207
occupancy_type               0.013482
Gender                       0.008820
Region                       0.004747
age                          0.004688
Security_Type                0.004524
construction_type            0.004524
dtir1                        0.002865
Credit_Score                 0.001171
credit_type                 -0.000385
ID                          -0.000420
Secured_by                  -0.004524
total_units                 -0.007623
Neg_ammortization           -0.016719
Interest_rate_spread        -0.023487
submission_of_application   -0.025555
Credit_Worthiness           -0.030568
loan_purpose                -0.043547
year                              NaN
Name: loan_limit, dtype: float64

In [16]:
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [17]:
df_not_missing = dff[dff['loan_limit'].notna()]
df_missing = dff[dff['loan_limit'].isnull()]

In [18]:
features = ['loan_amount', 'property_value', 'income']

imputer = SimpleImputer(strategy='mean')  # Replace missing values with the mean
df_not_missing[features] = imputer.fit_transform(df_not_missing[features])
df_missing[features] = imputer.transform(df_missing[features])

<ipython-input-18-932683140ede>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing[features] = imputer.fit_transform(df_not_missing[features])
<ipython-input-18-932683140ede>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing[features] = imputer.transform(df_missing[features])

In [19]:
label_encoder = LabelEncoder()
df_not_missing['loan_limit_encoded'] = label_encoder.fit_transform(df_not_missing['loan_limit'])

<ipython-input-19-15a9954fc9e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_missing['loan_limit_encoded'] = label_encoder.fit_transform(df_not_missing['loan_limit'])

In [20]:
X = df_not_missing[features]
y = df_not_missing['loan_limit_encoded']

model = RandomForestClassifier(random_state=42)
model.fit(X, y)

RandomForestClassifier(random_state=42)

In [21]:
df_missing['loan_limit_encoded'] = model.predict(df_missing[features])
df_missing['loan_limit'] = label_encoder.inverse_transform(df_missing['loan_limit_encoded'])

<ipython-input-21-861df2d236ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['loan_limit_encoded'] = model.predict(df_missing[features])
<ipython-input-21-861df2d236ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['loan_limit'] = label_encoder.inverse_transform(df_missing['loan_limit_encoded'])

In [22]:
dff = pd.concat([df_not_missing, df_missing]).sort_index()

In [23]:
from sklearn.metrics import accuracy_score, mean_absolute_error
from sklearn.model_selection import train_test_split

# Train-test split (use non-missing rows for training)
X = df_not_missing[features]
y = df_not_missing['loan_limit_encoded']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Predictions on the validation set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')

# Optionally, you can also use MAE for regression tasks
# mae = mean_absolute_error(y_test, y_pred)

Accuracy: 0.9345

approv_in_adv

In [24]:
df.corr()["approv_in_adv"].sort_values(ascending=False)

approv_in_adv                1.000000
interest_only                0.093059
loan_limit                   0.080861
submission_of_application    0.076205
Neg_ammortization            0.069784
Interest_rate_spread         0.060559
lump_sum_payment             0.056660
rate_of_interest             0.052648
LTV                          0.032187
term                         0.024528
Upfront_charges              0.017569
occupancy_type               0.014458
dtir1                        0.013567
Gender                       0.007746
Security_Type                0.001131
construction_type            0.001131
ID                          -0.000358
Secured_by                  -0.001131
Credit_Score                -0.001475
loan_type                   -0.003411
total_units                 -0.005535
open_credit                 -0.005651
credit_type                 -0.008146
Region                      -0.009004
business_or_commercial      -0.010194
co-applicant_credit_type    -0.011385
income                      -0.012839
age                         -0.023844
loan_amount                 -0.026593
Status                      -0.037007
property_value              -0.049669
Credit_Worthiness           -0.056145
loan_purpose                -0.142008
year                              NaN
Name: approv_in_adv, dtype: float64

Since there is not much relationship lets just use mode method

In [51]:
mode_result = dff['approv_in_adv'].mode()
if not mode_result.empty:  # Check if mode result is not empty
    mode_value = mode_result.iloc[0]  # Access using iloc for position-based indexing
    dff['approv_in_adv'] = dff['approv_in_adv'].fillna(mode_value)
else:
    # Handle the case where mode is empty, e.g., fill with a default value
    dff['approv_in_adv'] = dff['approv_in_adv'].fillna(dff['approv_in_adv'].mean()
                                                        if pd.api.types.is_numeric_dtype(dff['approv_in_adv'])
                                                        else 'Unknown')

In [52]:
dff["approv_in_adv"].isna().sum()

0

loan_purpose

In [26]:
df.corr()["loan_purpose"].sort_values(ascending=False)

loan_purpose                 1.000000
property_value               0.152528
age                          0.088581
Region                       0.071621
Neg_ammortization            0.066674
loan_amount                  0.066191
business_or_commercial       0.056040
Gender                       0.038135
credit_type                  0.020474
loan_type                    0.019426
Upfront_charges              0.009980
submission_of_application    0.008618
income                       0.007412
Security_Type                0.005130
construction_type            0.005130
Credit_Score                 0.000636
ID                          -0.000957
open_credit                 -0.002301
Secured_by                  -0.005130
co-applicant_credit_type    -0.005193
total_units                 -0.010265
lump_sum_payment            -0.010320
interest_only               -0.020622
occupancy_type              -0.023159
Status                      -0.027895
Credit_Worthiness           -0.039574
loan_limit                  -0.043547
dtir1                       -0.082260
LTV                         -0.111505
term                        -0.124530
approv_in_adv               -0.142008
Interest_rate_spread        -0.202825
rate_of_interest            -0.249665
year                              NaN
Name: loan_purpose, dtype: float64

In [27]:
dff["loan_purpose"]=df["loan_purpose"].fillna(df["loan_purpose"].mode()[0])

rate_of_interest

In [28]:
df.corr()["rate_of_interest"].sort_values(ascending=False)

rate_of_interest             1.000000
Interest_rate_spread         0.614908
term                         0.209330
open_credit                  0.191423
Credit_Worthiness            0.153968
submission_of_application    0.136169
total_units                  0.082623
dtir1                        0.055124
approv_in_adv                0.052648
business_or_commercial       0.051474
loan_limit                   0.042012
age                          0.035638
Status                       0.022957
lump_sum_payment             0.015249
interest_only                0.009160
ID                           0.000442
LTV                         -0.000220
Credit_Score                -0.001331
Region                      -0.012937
Gender                      -0.014553
credit_type                 -0.025887
income                      -0.041809
co-applicant_credit_type    -0.043587
Upfront_charges             -0.076473
property_value              -0.122613
loan_amount                 -0.150844
Neg_ammortization           -0.177908
occupancy_type              -0.188787
loan_purpose                -0.249665
loan_type                   -0.267358
year                              NaN
construction_type                 NaN
Secured_by                        NaN
Security_Type                     NaN
Name: rate_of_interest, dtype: float64

In [29]:
df.corr()["Interest_rate_spread"].sort_values(ascending=False)

Interest_rate_spread         1.000000
rate_of_interest             0.614908
submission_of_application    0.321982
dtir1                        0.078178
open_credit                  0.066929
approv_in_adv                0.060559
Credit_Worthiness            0.058426
total_units                  0.048051
LTV                          0.040257
age                          0.036930
Upfront_charges              0.033037
Gender                       0.031719
Region                       0.004780
lump_sum_payment             0.003710
ID                           0.002338
Credit_Score                -0.001738
interest_only               -0.005701
credit_type                 -0.015022
loan_limit                  -0.023487
Neg_ammortization           -0.029232
co-applicant_credit_type    -0.074069
loan_type                   -0.117919
occupancy_type              -0.147835
income                      -0.151333
term                        -0.157139
loan_purpose                -0.202825
property_value              -0.334571
loan_amount                 -0.377272
business_or_commercial      -0.394710
year                              NaN
construction_type                 NaN
Secured_by                        NaN
Security_Type                     NaN
Status                            NaN
Name: Interest_rate_spread, dtype: float64

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
import numpy as np

# Impute temporary missing values for training
imputer = SimpleImputer(strategy='mean')

# Prepare data for 'rate_of_interest'
roi_not_missing = dff[dff['rate_of_interest'].notna()]
roi_missing = dff[dff['rate_of_interest'].isna()]
irs_temp_imputed = imputer.fit_transform(roi_not_missing[['Interest_rate_spread']])

# Train model to predict 'rate_of_interest' using 'Interest_rate_spread'
model_irs_to_roi = LinearRegression()
model_irs_to_roi.fit(irs_temp_imputed, roi_not_missing['rate_of_interest'])

# Predict missing 'rate_of_interest'
dff.loc[dff['rate_of_interest'].isna(), 'rate_of_interest'] = model_irs_to_roi.predict(
    imputer.transform(roi_missing[['Interest_rate_spread']])
)

# Prepare data for 'Interest_rate_spread'
irs_not_missing = dff[dff['Interest_rate_spread'].notna()]
irs_missing = dff[dff['Interest_rate_spread'].isna()]
roi_temp_imputed = imputer.fit_transform(irs_not_missing[['rate_of_interest']])

# Train model to predict 'Interest_rate_spread' using 'rate_of_interest'
model_roi_to_irs = LinearRegression()
model_roi_to_irs.fit(roi_temp_imputed, irs_not_missing['Interest_rate_spread'])

# Predict missing 'Interest_rate_spread'
dff.loc[dff['Interest_rate_spread'].isna(), 'Interest_rate_spread'] = model_roi_to_irs.predict(
    imputer.transform(irs_missing[['rate_of_interest']])
)

Upfront_charges

In [31]:
df.corr()["Upfront_charges"].sort_values(ascending=False)

Upfront_charges              1.000000
submission_of_application    0.335464
business_or_commercial       0.151732
Gender                       0.104446
age                          0.098563
loan_amount                  0.065556
Region                       0.062290
property_value               0.053043
total_units                  0.050819
loan_limit                   0.039476
Interest_rate_spread         0.033037
Neg_ammortization            0.024717
approv_in_adv                0.017569
income                       0.016580
loan_purpose                 0.009980
lump_sum_payment             0.009544
co-applicant_credit_type     0.004481
interest_only                0.000746
dtir1                        0.000115
Credit_Score                -0.001484
ID                          -0.005507
Credit_Worthiness           -0.006602
credit_type                 -0.014505
Status                      -0.019138
LTV                         -0.031347
occupancy_type              -0.046536
term                        -0.054960
rate_of_interest            -0.076473
loan_type                   -0.125469
year                              NaN
open_credit                       NaN
construction_type                 NaN
Secured_by                        NaN
Security_Type                     NaN
Name: Upfront_charges, dtype: float64

In [33]:
dff=dff.drop("Upfront_charges",axis=1)

In [34]:
dff.columns

Index(['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type',
       'loan_purpose', 'Credit_Worthiness', 'open_credit',
       'business_or_commercial', 'loan_amount', 'rate_of_interest',
       'Interest_rate_spread', 'term', 'Neg_ammortization', 'interest_only',
       'lump_sum_payment', 'property_value', 'construction_type',
       'occupancy_type', 'Secured_by', 'total_units', 'income', 'credit_type',
       'Credit_Score', 'co-applicant_credit_type', 'age',
       'submission_of_application', 'LTV', 'Region', 'Security_Type', 'Status',
       'dtir1', 'loan_limit_encoded'],
      dtype='object')

term

In [43]:
dff['term'] = dff['term'].fillna(360)

<ipython-input-43-7fc274db8cdd>:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dff['term'] = dff['term'].fillna(360)

In [44]:
dff["term"].isnull().sum()

0

Neg_ammortization

In [55]:
df.corr()["Neg_ammortization"]

ID                           0.000435
year                              NaN
loan_limit                  -0.016719
Gender                      -0.007742
approv_in_adv                0.069784
loan_type                    0.006422
loan_purpose                 0.066674
Credit_Worthiness           -0.056634
open_credit                 -0.001620
business_or_commercial       0.013674
loan_amount                  0.026329
rate_of_interest            -0.177908
Interest_rate_spread        -0.029232
Upfront_charges              0.024717
term                         0.020666
Neg_ammortization            1.000000
interest_only                0.016923
lump_sum_payment            -0.051376
property_value               0.025778
construction_type            0.006745
occupancy_type               0.016155
Secured_by                  -0.006745
total_units                 -0.014206
income                       0.003506
credit_type                 -0.006965
Credit_Score                -0.001599
co-applicant_credit_type    -0.009785
age                         -0.020016
submission_of_application   -0.041561
LTV                         -0.008217
Region                      -0.000816
Security_Type                0.006745
Status                      -0.153625
dtir1                       -0.019106
Name: Neg_ammortization, dtype: float64

In [56]:
dff["Neg_ammortization"]=dff["Neg_ammortization"].fillna(dff["Neg_ammortization"].mode()[0])

age

In [60]:
df.corr()["age"].sort_values(ascending=False)

age                          1.000000
submission_of_application    0.235748
Upfront_charges              0.098563
loan_purpose                 0.088581
loan_type                    0.073468
Status                       0.056180
business_or_commercial       0.054240
Interest_rate_spread         0.036930
open_credit                  0.036893
rate_of_interest             0.035638
co-applicant_credit_type     0.035446
dtir1                        0.034929
Gender                       0.020334
occupancy_type               0.009044
Credit_Worthiness            0.006326
ID                           0.004904
loan_limit                   0.004688
credit_type                  0.003711
Security_Type                0.001515
construction_type            0.001515
total_units                  0.001083
interest_only                0.000945
Region                      -0.001281
Secured_by                  -0.001515
Credit_Score                -0.003914
lump_sum_payment            -0.005403
property_value              -0.007896
Neg_ammortization           -0.020016
approv_in_adv               -0.023844
term                        -0.068949
income                      -0.099956
LTV                         -0.127965
loan_amount                 -0.199995
year                              NaN
Name: age, dtype: float64

In [61]:
dff['age'] = dff['age'].fillna(dff['age'].mode()[0])

submission_of_application

In [64]:
df.corr()["submission_of_application"].sort_values(ascending=False)

submission_of_application    1.000000
Upfront_charges              0.335464
Interest_rate_spread         0.321982
Gender                       0.250823
age                          0.235748
rate_of_interest             0.136169
Region                       0.135985
Status                       0.111729
loan_type                    0.090411
approv_in_adv                0.076205
occupancy_type               0.059634
open_credit                  0.045375
credit_type                  0.027051
Credit_Worthiness            0.022722
dtir1                        0.009886
interest_only                0.009331
loan_purpose                 0.008618
Secured_by                   0.001665
ID                          -0.000317
Credit_Score                -0.000671
Security_Type               -0.001665
construction_type           -0.001665
lump_sum_payment            -0.014006
LTV                         -0.025336
loan_limit                  -0.025555
Neg_ammortization           -0.041561
co-applicant_credit_type    -0.066480
total_units                 -0.067487
business_or_commercial      -0.080151
term                        -0.152445
income                      -0.181495
property_value              -0.299546
loan_amount                 -0.421607
year                              NaN
Name: submission_of_application, dtype: float64

In [65]:
dff["submission_of_application"]=dff["submission_of_application"].fillna(dff["submission_of_application"].mode()[0])

LTV

In [66]:
df.corr()["LTV"].sort_values(ascending=False)

LTV                          1.000000
loan_type                    0.172478
dtir1                        0.156557
term                         0.106834
occupancy_type               0.044313
Interest_rate_spread         0.040257
Status                       0.038895
loan_amount                  0.038869
approv_in_adv                0.032187
interest_only                0.025911
loan_limit                   0.015207
credit_type                  0.014306
Gender                       0.007275
Secured_by                   0.002853
rate_of_interest            -0.000220
co-applicant_credit_type    -0.000808
construction_type           -0.002853
Security_Type               -0.002853
Credit_Score                -0.005533
ID                          -0.005853
lump_sum_payment            -0.007596
Neg_ammortization           -0.008217
Credit_Worthiness           -0.014255
Region                      -0.017640
submission_of_application   -0.025336
total_units                 -0.028689
Upfront_charges             -0.031347
income                      -0.066203
open_credit                 -0.083533
loan_purpose                -0.111505
age                         -0.127965
business_or_commercial      -0.137961
property_value              -0.215102
year                              NaN
Name: LTV, dtype: float64

In [68]:
dff["LTV"]=dff["LTV"].fillna(dff["LTV"].mean())

dtir1

In [69]:
dff["dtir1"]=dff["dtir1"].fillna(dff["dtir1"].mean())

In [70]:
dff.isna().sum()

ID                           0
year                         0
loan_limit                   0
Gender                       0
approv_in_adv                0
loan_type                    0
loan_purpose                 0
Credit_Worthiness            0
open_credit                  0
business_or_commercial       0
loan_amount                  0
rate_of_interest             0
Interest_rate_spread         0
term                         0
Neg_ammortization            0
interest_only                0
lump_sum_payment             0
property_value               0
construction_type            0
occupancy_type               0
Secured_by                   0
total_units                  0
income                       0
credit_type                  0
Credit_Score                 0
co-applicant_credit_type     0
age                          0
submission_of_application    0
LTV                          0
Region                       0
Security_Type                0
Status                       0
dtir1                        0
loan_limit_encoded           0
dtype: int64

In [71]:
dff.to_csv("cleaned_data.csv",index=False)